* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navegacao {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.logo {
    padding-right: 25rem;
}

.imgLogo {
    width: 8rem;
    margin-top: 10px;
}

figure {
    display: flex;
    font-size: 0.9rem;
    padding: 7px 10px;
}

figcaption{
    padding-left: 10px;
}

.botao_ativo {
    background-color: rgb(0, 0, 0);
    color: white;
    border: solid 2px black;
    border-radius: 50px;
}

.imgbotao {
    width: 1rem;
}

.botao {
    padding-right: 60px;
}

.pesquisar {
    padding-left: 25rem;
}

h1 {
    margin: 30px;
    margin-top: 3rem;
}

.tabelas {
    display: flex;
    margin: 30px;
    margin-top: 10px;
}

.table1 {
    width: 50%;
    border-collapse: collapse;
    margin-right: 60px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: black;
    color: white;
}

input {
    width: 50px;
}

.table2 {
    width: 20%;
    height: 5rem;
    border-collapse: collapse;
}

.gato1_img {
    width: 3.5rem;
}

.gato2_img {
    width: 7rem;
}

.bordaImg {
    background-color: rgb(189, 189, 189);
    padding: 10px;
    border-radius: 20px;
    width: 50%;
}

figure {
    align-items: center;
}

button {
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    border: solid 1px;
    cursor: pointer;
}

.sem_format {
    border: none;
    padding-top: 30px;
}

footer {
    background-color: black;
    color: white;
}

footer {
    background-color: black;
    color: white;
}

.footer {
    display: flex;
}

.seçao {
    margin-top: 1rem;
    padding: 3rem;
    padding-right: 5rem;
}

.colunas_infos {
    display: flex;
}

.linkFooter {
    color: rgb(189, 189, 189);
    text-decoration: underline;
    font-size: 0.9rem;
}

.itemFooter {
    color: rgb(189, 189, 189);
    font-size: 0.9rem;
}

.cartao {
    width: 15%;
}

.copyright {
    text-align: center;
}