* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navegacao {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.logo {
    margin-left: 5rem;
    flex: 1;
}

.imgLogo {
    width: 8rem;
    margin-top: 10px;
}

figure {
    display: flex;
    font-size: 0.9rem;
    padding: 7px 10px;
}

figcaption{
    padding-left: 10px;
}

.navBotoes {
    flex: 2;
    display: flex;
    justify-content: center;
}

.botao_ativo {
    background-color: rgb(0, 0, 0);
    color: white;
    border: solid 2px black;
    border-radius: 50px;
}

.imgbotao {
    width: 1rem;
}

.botao {
    padding: 0rem 5rem;
}

.pesquisar {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
}

h1 {
    margin-left: 4rem;
    margin-top: 4rem;
}

.tabelas {
    display: flex;
    justify-content: space-between;
    margin-right: 4rem;
    margin-left: 4rem;
}

.table1 {
    width: 60%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 10px;
}

td {
    text-align: left;
}

.bordaImg {
    background-color: rgba(200, 200, 200, 0.655);
    padding: 80px;
    border-radius: 5px;
    width: 50%;
}

figure {
    align-items: center;
}

input {
    width: 50px;
    height: 30px;
    padding: 2px;
}

.table2 {
    border-collapse: collapse;
}

.alinhar {
    padding: 0px;
    text-align: left;
}

.resumo {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
    height: 20rem;
}

button {
    background-color: rgb(242, 175, 93);
    padding: 10px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    width: 100%;
}

footer {
    background-color: black;
}

.footer {
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    margin-left: 4rem;
    margin-right: 4rem;
}

.seçao {
    flex-direction: column;
    margin-top: 3rem;
    margin-right: 5rem;
}

.colunas_infos {
    display: flex;
}

.linkFooter {
    color: rgb(189, 189, 189);
    text-decoration: underline;
    font-size: 0.9rem;
}

.itemFooter {
    color: rgb(189, 189, 189);
    font-size: 0.9rem;
}

.cartao {
    width: 3rem;
}

.copyright {
    text-align: center;
    color: white;
}
