* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navegacao {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.logo {
    margin-left: 5rem;
}

.imgLogo {
    width: 8rem;
    margin-top: 10px;
}

figure {
    display: flex;
    font-size: 0.9rem;
    padding: 7px 10px;
}

figcaption{
    padding-left: 10px;
}

.botao_ativo {
    background-color: rgb(0, 0, 0);
    color: white;
    border: solid 2px black;
    border-radius: 50px;
}

.imgbotao {
    width: 1rem;
}

.botao {
    padding: 0rem 5rem;
}

.pesquisar {
    margin-right: 5rem;
}

.cabeçalho {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin: 30px;
}

.sloganImg {
    width: 17rem;
}

.slogan {
    width: 25rem;
}

.cabeçalho_esquerda {
    padding-left: 20%;
}

h1 {
    margin-left: 5rem;
    margin-bottom: 2rem;
}

button {
    width: 10%;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 10px;
    border: solid 1px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.raças {
    margin-left: 5rem;
    margin-left: 5rem;
}

.gatos {
    margin: 2rem;
    margin-right: 5rem;
    margin-left: 5rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.card {
    display: flex;
}

.card_bg {
    text-align: center;
    align-content: center;
    width: 15rem;
    height: 17rem;
    background-color: rgba(200, 200, 200, 0.655);
    border-radius: 10px;
}

.card_img {
    width: 8rem;

}

.info {
    padding-left: 20px;
    padding-top: 20px;
}

.add {
    padding: 10px;
    background-color: rgb(242, 175, 93);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.saber {
    padding: 10px;
    border: solid 1.5px;
    border-radius: 10px;
}

footer {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    margin-left: 5rem;
    margin-right: 5rem;
}

.seçao {
    margin-top: 3rem;
    margin-right: 5rem;
}

.colunas_infos {
    display: flex;
}

.linkFooter {
    color: rgb(189, 189, 189);
    text-decoration: underline;
    font-size: 0.9rem;
}

.itemFooter {
    color: rgb(189, 189, 189);
    font-size: 0.9rem;
}

.cartao {
    width: 8%;
}

.copyright {
    text-align: center;
    color: white;
}
