* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navegacao {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.logo {
    margin-left: 5rem;
    flex: 1;
}

.imgLogo {
    width: 8rem;
    margin-top: 10px;
}

figure {
    display: flex;
    font-size: 0.9rem;
    padding: 7px 10px;
}

figcaption{
    padding-left: 10px;
}

.navBotoes {
    flex: 2;
    display: flex;
    justify-content: center;
}

.botao_ativo {
    background-color: rgb(0, 0, 0);
    color: white;
    border: solid 2px black;
    border-radius: 50px;
}

.imgbotao {
    width: 1rem;
}

.botao {
    padding: 0rem 5rem;
}

.pesquisar {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
}

h1 {
    margin-left: 4rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.nomes_gatos {
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
}

button {
    width: 9rem;
    margin-right: 3rem;
    padding: 10px;
    border: solid 1px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.selecionado {
    background-color: rgb(0, 0, 0);
    color: white;
}

.produto1 {
    display: flex;
    margin: 4rem;
}

.produtoInfos {
    flex-direction: column;
    margin-left: 2rem;
}

.botao_comprar {
    width: 100%;
    background-color: rgb(242, 175, 93);
    border: none;
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
}

.imgBg {
    background-color: rgba(200, 200, 200, 0.655);
    padding: 5rem;
    width: 30rem;
    text-align: center;
    border-radius: 5px;
}

.produtoImg {
    width: 10rem;
}

.gatoTitulo {
    font-size: 2rem;
    margin-bottom: 10px;
}

.gatoDescriçao {
    color: rgb(172, 172, 172);
}

table {
    border-collapse: collapse;
    margin: 4rem;
}

th, td {
    padding: 20px;
    text-align: left;
    width: 15rem;
}

td {
    border: solid 1px rgba(192, 192, 192, 0.655);
}

.th_claro {
    background-color: rgba(219, 219, 219, 0.815);
}

.th_escuro {
    background-color: rgba(192, 192, 192, 0.655);
}

.descricao_gato {
    margin-left: 4rem;
}

p {
    padding-bottom: 5px;
}
footer {
    background-color: black;
    color: white;
}

footer {
    background-color: black;
}

.footer {
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    margin-left: 4rem;
    margin-right: 4rem;
}

.seçao {
    flex-direction: column;
    margin-top: 3rem;
    margin-right: 5rem;
}

.colunas_infos {
    display: flex;
}

.linkFooter {
    color: rgb(189, 189, 189);
    text-decoration: underline;
    font-size: 0.9rem;
}

.itemFooter {
    color: rgb(189, 189, 189);
    font-size: 0.9rem;
}

.cartao {
    width: 3rem;
}

.copyright {
    text-align: center;
    color: white;
}
