* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navegacao {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.logo {
    padding-right: 25rem;
}

.imgLogo {
    width: 8rem;
    margin-top: 10px;
}

figure {
    display: flex;
    font-size: 0.9rem;
    padding: 7px 10px;
}

figcaption{
    padding-left: 10px;
}

.botao_ativo {
    background-color: rgb(0, 0, 0);
    color: white;
    border: solid 2px black;
    border-radius: 50px;
}

.imgbotao {
    width: 1rem;
}

.botao {
    padding-right: 60px;
}

.pesquisar {
    padding-left: 25rem;
}

h1 {
    margin: 2rem;
    margin-top: 3rem;
}

.nomes_gatos {
    margin-left: 2rem;
}

button {
    width: 9rem;
    margin-right: 1rem;
    padding: 10px;
    border: solid 1px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.selecionado {
    background-color: rgb(0, 0, 0);
    color: white;
}

table {
    border-collapse: collapse;
    margin: 2rem;
}

th, td {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    width: 10rem;
}

th {
    background-color: black;
    color: white;
}

.produtoImg {
    width: 5rem;
}

.produtoBg {
    background-color: rgb(189, 189, 189);
    padding: 20px;
    border-radius: 20px;
}

.descricao_gato {
    margin: 2rem;
}

p {
    padding-bottom: 5px;
}

.botao_comprar {
    width: 13%;
    background-color: rgb(242, 175, 93);
    border: none;
    font-size: 1rem;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.botao_compra {
    margin: 2rem;
}

footer {
    background-color: black;
    color: white;
}

footer {
    background-color: black;
    color: white;
}

.footer {
    display: flex;
}

.seçao {
    margin-top: 1rem;
    padding: 3rem;
    padding-right: 5rem;
}

.colunas_infos {
    display: flex;
}

.linkFooter {
    color: rgb(189, 189, 189);
    text-decoration: underline;
    font-size: 0.9rem;
}

.itemFooter {
    color: rgb(189, 189, 189);
    font-size: 0.9rem;
}

.cartao {
    width: 15%;
}

.copyright {
    text-align: center;
}